#ignore all
*

#Project 1_2 - Bcd Counter (.vhd + .do)
!*/01_Projektaufgabe1/BcdCount_Code/.vhd
!*/01_Projektaufgabe1/BcdCount_Code/.do

#Project 1_1 - Two Bit Counter(.vhd + .do)
!*/01_Projektaufgabe1/TwoBitCounter_Code/.vhd
!*/01_Projektaufgabe1/TwoBitCounter_Code/.do

#Project 2 - Timer 
!*/02_Projektaufgabe_2/.vhd
!*/02_Projektaufgabe_2/.do

